{% extends 'base.html' %}
{% block title %}Goods{% endblock %}
{% load extra_teg %}


{% block content %}

<table border="1">

{% for row in goods_list %}
    <tr>
        <td width="50" align="right">{{ row.GoodF|zfill:6}}</td>
        <td width="500" align="left">{{row.Name}}</td>
        <td width="50" align="center">{{row.Unit}}</td>
        <td width="100" align="right">{{row.Price|floatformat:2}}</td>
    </tr>
{% endfor %}

</table>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>

{% endblock content %}