{% extends 'base.html' %}
{% block title %}Goods{% endblock %}
{% load extra_teg %}


{% block content %}
{% include 'includes/select_device.html' %}


<div class="row">
    <div class="col">
        <div>
            <p>
            <form action="{% url 'scanok:good_create' %}">
                <button class="btn btn-secondary">Create</button>
            </form>
            </p>
        </div>
        <table class="table">
            <thead class="thead-light">
            <th scope="col">GoodF</th>
            <th scope="col">Name</th>
            <th scope="col">Unit</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
            </thead>

            {% for item in goods_list %}

            {% if item.0.Deleted == False %}

            <tr class="clickable" data-toggle="collapse" data-target="#{{ item.0.GoodF }}"
                aria-expanded="false" aria-controls="{{ item.0.GoodF }}">
                <td align="right">{{ item.0.GoodF|zfill:6}}</td>
                <td align="left">{{ item.0.Name}}</td>
                <td align="center">{{ item.0.Unit}}</td>
                <td align="right">{{ item.0.Price|floatformat:2}}</td>
                <td width="10" align="center">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2"
                                data-bs-toggle="dropdown" aria-expanded="false"></button>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                            <li><a class="dropdown-item" href="{% url 'scanok:good_update' item.0.id %}">Edit</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'scanok:good_delete' item.0.id %}">Delete</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>

            <tbody id="{{ item.0.GoodF }}" class="collapse">
            <tr class="box">
                <td colspan="5" style="padding:0">
                    <table class="table table-striped table-dark">
                        <thead>
                        <tr>
                            <th>GoodF</th>
                            <th>Code</th>
                            <th>BarcodeName</th>
                            <th>Count</th>
                        </tr>
                        </thead>

                        {% for barcode in item.1 %}
                        <tr>
                            <td>{{ barcode.GoodF|zfill:6 }}</td>
                            <td>{{ barcode.Code }}</td>
                            <td>{{ barcode.BarcodeName }}</td>
                            <td>{{ barcode.Count }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
            </tbody>
            {% endif %}
            {% endfor %}


        </table>
    </div>
</div>

{% include 'includes/pagination.html' %}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

{% endblock content %}