{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load extra_teg %}
{% block title %}Good Update{% endblock %}
{% block content %}

<form method="post">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-6 mb-0">
            {{ form.GoodF|attr:"disabled=True"|as_crispy_field }}

            {{ form.Name|as_crispy_field }}

            {{ form.Price|as_crispy_field }}

            {{ form.Unit|as_crispy_field }}
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
</form>

<hr size="3", color=black>

<div>
    <div>
        <p>
        <form action="{% url 'scanok:add_barcode' pk %}">
            <button class="btn btn-secondary">Add Barcode</button>
        </form>
        </p>
    </div>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">GoodF</th>
            <th scope="col">Code</th>
            <th scope="col">BarcodeName</th>
            <th scope="col">Count</th>
            <th scope="col"></th>
        </tr>
        </thead>

        {% for barcode in barcode_list %}
        {% if barcode.Deleted == False %}
        <tr>
            <td>{{ barcode.GoodF|zfill:6 }}</td>
            <td>{{ barcode.Code }}</td>
            <td>{{ barcode.BarcodeName }}</td>
            <td>{{ barcode.Count }}</td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2"
                            data-bs-toggle="dropdown" aria-expanded="false"></button>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                        <li><a class="dropdown-item" href="{% url 'scanok:update_barcode' barcode.id %}">Edit</a>
                        </li>
                        <li><a class="dropdown-item" href="{% url 'scanok:delete_barcode' barcode.id %}">Delete</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
</div>

{% endblock content %}