{% extends 'base.html' %}
{% block title %}Partners{% endblock %}

{% block content %}
<div>
    <p>
        <form action="{% url 'scanok:partner_create' %}">
            <button>Create</button>
        </form>
    </p>
</div>
<table border="1">
    <col width="50" valign="top" align="left">
    <col width="500" valign="top" align="left">
    <col width="50" valign="top" align="left">

{% for row in partners_list %}
        <tr>
            <td>{{row.PartnerF}}</td>
            <td>{{row.NamePartner}}</td>
            <td>{{row.Discount}}</td>
        </tr>
{% endfor %}

</table>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>

{% endblock content %}