{% load widget_tweaks %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<h1>Login</h1>
<div id="wrapper">
	<form id="signin" method="post" action="" autocomplete="off">
        {% csrf_token %}
        {{ form.username|attr:"placeholder=Email" }}
        {{ form.password|attr:"placeholder=Password" }}
		<button type="submit">&#xf0da;</button>
		<p>forgot your password? <a href="{% url 'password_reset' %}">click here</a></p>
	</form>
</div>

</body>
</html>