<footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="{% url 'index' %}" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="{% url 'accounts:devices' %}" class="nav-link px-2 text-muted">Devices</a>
        </li>
        <li class="nav-item"><a href="{% url 'scanok:goods' %}" class="nav-link px-2 text-muted">Goods</a></li>
        <li class="nav-item"><a href="{% url 'scanok:stores' %}" class="nav-link px-2 text-muted">Stores</a></li>
        <li class="nav-item"><a href="{% url 'scanok:users' %}" class="nav-link px-2 text-muted">Users</a></li>
        <li class="nav-item"><a href="{% url 'scanok:partners' %}" class="nav-link px-2 text-muted">Partners</a></li>
        <li class="nav-item"><a href="{% url 'scanok:dochead' %}" class="nav-link px-2 text-muted">DocHead</a></li>
    </ul>
    <p class="text-center text-muted">© 2022 Scanok</p>
</footer>