<nav>
    {% if request.user.is_authenticated %}
        {{ request.user.first_name|default:"nothing" }} {{ request.user.last_name|default:"nothing" }} <br>
        <button onclick="location.href='{% url 'accounts:my-profile' %}'">My Profile</button>
        <button onclick="location.href='{% url 'logout' %}'">Log Out</button>
    {% else %}
        <button onclick="location.href='{% url 'accounts:signup' %}'">Sign Up</button>
        <button onclick="location.href='{% url 'login' %}'">Log In</button>
    {% endif %}
<br>
    <a href="{% url 'index' %}">Home</a>  |
    <a href="{% url 'accounts:devices' %}">Devices</a>  |
    <a href="{% url 'scanok:goods' %}">goods</a>  |
    <a href="{% url 'scanok:stores' %}">stores</a>  |
    <a href="{% url 'scanok:users' %}">users</a>  |
    <a href="{% url 'scanok:partners' %}">partners</a> |
    <a href="{% url 'scanok:dochead' %}">dochead</a>
</nav>